[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.29.0"
st-pages = "==0.4.5"
streamlit-extras = "*"
numpy = "==1.26.0"
pandas = "==2.1.1"

[dev-packages]

[requires]
python_version = "3.11"

[packages]
requests = "*"
flask = "*"
# 다른 패키지도 필요한 경우 "*"으로 표시

