/* styles.css */
@font-face {
    font-family: 'CustomFont';
    font-style: normal;
    font-weight: normal;
    src: local('/fonts/mhSeo.ttf'), url('/fonts/mhSeo.ttf') format('ttf');
  }
  
  body {
    font-family: 'CustomFont', sans-serif;
  }
  