/* styles.css */

body {
    background-color: #add8e6; /* 배경색 (연한 파란색) */
    color: #343a40; /* 글자색 */
    font-family: 'Arial', sans-serif; /* 글꼴 */
}

.fullScreenFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.css-145kmo2 {
    max-width: 1000px;
}
